@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');



html {
    height: 100%;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --font-exo-2: 'Exo 2', sans-serif;
}


body {
    color: #F1F1F1;
    height: 100%;

    .raw-html p {
        font-size: 1em;
        margin: 1em 0;
    }

    .raw-html h3 {
        font-size: 1.1125em;
        line-height: 1rem;
    }

    .raw-html h1 {
        font-size: 1.25em;
        line-height: 1.5rem;
    }

    @media (min-width: 768px) {
        .raw-html p {
            font-size: 1.25em;
        }

        .raw-html h3 {
            font-size: 1.5em;
            line-height: 2rem;
        }

        .raw-html h1 {
            font-size: 1.75rem;
            line-height: 2.5rem;
        }
    }

}

@tailwind base;
@tailwind components;
@tailwind utilities;